:root {
    --main-color: #4e1f12;
    --accent-color: #874236;
    --btn-bg: rgb(219, 29, 29);
    --shadowbox: #4e1f12;
    --bg-color-1: #f1f6fa;
    --txt-color-1: #8c8275;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-color);
    margin: 0px;
    scroll-behavior: smooth;
}

h1,
a {
    font-family: 'Lovelo', sans-serif;
}

p,
li {
    font-family: 'Noto Serif', sans-serif;
    color: var(--txt-color-1);
}


.bg-color-1 {
    background-color: var(--bg-color-1);
}


.with-topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
    box-shadow: 0px 0px 10px 0px var(--shadowbox);
}

.with-topnav a {
    color: var(--main-color);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    width: auto;
    font-size: 1.25em;
}



.with-topnav a:first-child {
    padding-left: 0em;
}

.with-topnav a:last-child {
    padding-right: 0em;
}

.with-topnav a:nth-child(odd) {
    padding: 2px;
    background-color: var(--main-color);
    height: 1em;
}

.with-topnav a:hover {
    color: var(--accent-color);

}

.logo-mobile {
    display: none;
    float: left;
    padding: 1em;
}

.mobile-menu-toggle {
    display: none;
    cursor: pointer;
    float: right;
    padding: 1em;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.fancy-font {
    font-family: 'Nickainley', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 5px;
    border-radius: 5px;
}

.backhero {
    /*padding: 20em 0em 20em 0em;*/
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*animation: fadein 5500ms ease-in-out infinite;*/
}

.text1 {
    position: relative;
    padding: 15em 0em 20em 0em;
    top: 0;
    right: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text1>div>h1 {
    font-size: 5rem;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }


    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.col-2:nth-child(odd) {
    flex-direction: row-reverse;
}

.text,
.img,
.ciacho {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ciacho {
    background-image: url(./upload/8.webp);
    background-position: center;
    height: 80vh;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 5px grey);
}

.underline {
    border-bottom: solid 3px var(--accent-color);
}


.inner-button {
    display: flex;
    justify-content: center;
}

button,
.secondButton:hover {
    padding: 1em;
    margin: 0.5em;
    background-color: var(--btn-bg);
    color: white;
    border: solid 2px var(--btn-bg);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
}

button:hover,
.secondButton {
    background-color: white;
    color: var(--btn-bg);
    border-color: var(--btn-bg);
    border-style: solid;
}

.social {
    align-items: end;
}

.opinie-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    width: 800px;
    gap: 30px;
}

.opinia {
    display: flex;
    background-color: white;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0px 50px;
    flex-shrink: 0;
}

.opinia p {
    margin: 10px;
    text-align: center;
    font-size: 1.25em;
}

.opinia::before {
    content: "";
    background: url(./upload/quote.png) top left no-repeat;
    display: block;
    position: absolute;
    width: 120px;
    height: 100px;
    transform: translate(-134px, -107px);
    transform-origin: 60px 50px;
    opacity: 0.50;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.map-container div {
    width: 50%;
    padding: 2rem 0;
}

#hero {
    position: relative;
}

#o-nas,
#nowosci,
#opinie {
    padding: 5em 0em;
}

#o-nas p,
#nowosci p {
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.5em;
}

#o-nas img {
    border-radius: 25px;
    filter: drop-shadow(5px 5px 5px grey);
    max-width: 80vh;
    max-height: fit-content;
}

#opinie,
#mapy {
    width: 100%;
    padding: 5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#nowosci img {
    max-width: min-content;
}

li {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2em;
    font-family: 'Noto Serif', sans-serif;
    list-style: none;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 8px grey;

}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 1px;
    box-shadow: inset 0 0 8px var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

@media screen and (max-width: 960px) {


    iframe {
        width: 125%;
        height: 125%;
    }

    .text1>div>h1 {
        font-size: 3rem;
    }

    .img {
        width: 100%;
    }

    .text1 {
        position: static;
        width: 100%;
        top: 0;
        right: 0;
        padding: 10em 0em 15em 0em;
    }

    .map-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .with-topnav a,
    .logo-full {
        display: none;
    }

    .mobile-menu-toggle,
    .logo-mobile,
    .with-topnav {
        display: block;
    }

    .with-topnav.responsive {
        position: sticky;
        background-image: url(/uploads/Main\ screen.png);
        background-position: -986px 0px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .with-topnav.responsive a {
        float: left;
        color: var(--second-color);
        display: block;
        text-align: center;
        padding: 1em 0em;
        width: 100%;
        background-color: var(--backgroundcolor);
    }

    .with-topnav.responsive a:nth-child(odd) {
        padding: 0px;
        background-color: var(--main-color);
        height: 2px;
    }

    .col-2,
    .opinie-wrapper,
    .map-container {
        flex-direction: column;
        align-items: center;
    }

    .col-2:nth-child(odd) {
        flex-direction: column-reverse;
    }

    .opinie-wrapper,
    #o-nas p,
    #nowosci p {
        width: 100%;
    }

}