:root {
    --main-color: #4e1f12;
    --accent-color: #874236;
    --btn-bg: rgb(219, 29, 29);
    --shadowbox: #4e1f12;
    --bg-color-1: #f1f6fa;
    --txt-color-1: #8c8275;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-color);
    margin: 0px;
    scroll-behavior: smooth;
}

h1,
a {
    font-family: 'Lovelo', sans-serif;
}

p,
li {
    font-family: 'Noto Serif', sans-serif;
    color: var(--txt-color-1);
}


.bg-color-1 {
    background-color: var(--bg-color-1);
}


.with-topnav {
    background-color: white;
    overflow: hidden;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
    align-items: center;
    box-shadow: 0px 0px 10px 0px var(--shadowbox);
    justify-content: space-around;
}

.with-topnav a {
    color: var(--main-color);
    text-align: center;
    padding: 1em;
    text-decoration: none;
    width: auto;
    font-size: 1em;
}



.with-topnav a:first-child {
    padding-left: 0em;
}

.with-topnav a:last-child {
    padding-right: 0em;
}
/*
.with-topnav a:nth-child(odd) {
    padding: 2px;
    background-color: var(--main-color);
    height: 1em;
}*/

.with-topnav a:hover {
    color: var(--accent-color);

}

.logo-mobile {
    display: none;
    float: left;
    padding: 0.5em;
}

.mobile-menu-toggle {
    display: none;
    cursor: pointer;
    float: right;
    padding: 1em;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.fancy-font {
    font-family: 'Nickainley', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin: 1em;
    padding: 5px;
}

.backhero {
    /*padding: 20em 0em 20em 0em;*/
    background-size: 900px;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*animation: fadein 5500ms ease-in-out infinite;*/
}

#backgroundHero {
    background-image: linear-gradient(to right, white, transparent), url(./upload/11.webp);
}

.text1 {
    position: relative;
    padding: 15em 0em 20em 0em;
    top: 0;
    right: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text1>div>h1 {
    font-size: 5rem;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }


    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.col-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.col-2:nth-child(odd) {
    flex-direction: row-reverse;
}

.text,
.img,
.ciacho {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ciacho {
    background-image: url(./upload/8.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 5px grey);
    margin: 0.5rem 0;
}

.underline {
    border-bottom: solid 3px var(--accent-color);
}


.inner-button {
    display: flex;
    justify-content: center;
}

button,
.secondButton:hover {
    padding: 1em;
    margin: 0.5em;
    background-color: var(--btn-bg);
    color: white;
    border: solid 2px var(--btn-bg);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 25px;
}

button:hover,
.secondButton {
    background-color: white;
    color: var(--btn-bg);
    border-color: var(--btn-bg);
    border-style: solid;
}

.social {
    align-items: end;
}

.opinie-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    width: 800px;
    gap: 30px;
}

.opinia {
    display: flex;
    background-color: white;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0px 50px;
    flex-shrink: 0;
}

.opinia p {
    margin: 10px;
    text-align: center;
    font-size: 1.25em;
}

.opinia::before {
    content: "";
    background: url(./upload/quote.png) top left no-repeat;
    display: block;
    position: absolute;
    width: 120px;
    height: 100px;
    transform: translate(-134px, -107px);
    transform-origin: 60px 50px;
    opacity: 0.50;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.map-container div {
    width: 50%;
    padding: 2rem 0;
}

.mt-3 {
    margin-top: 1.5rem;
}

#stronaglowna {
    position: relative;
}

#o-nas,
#nowosci,
#opinie,
#produkty,
#wspolpraca {
    padding: 5em 0em;
}

#o-nas p,
#nowosci p,
#produkty p,
#wspolpraca p,
#kontakt p {
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.5em;
}

#o-nas img,
#produkty img,
#wspolpraca img {
    border-radius: 25px;
    filter: drop-shadow(5px 5px 5px grey);
    max-width: 80vh;
    max-height: fit-content;
}

#opinie,
#mapy {
    width: 100%;
    padding: 5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#nowosci img {
    max-width: min-content;
}

#nowosci li,
#produkty li {
    background-image: url(./upload/li-coffe.png);
    padding-left: 1.5em;
    margin: 0;
    list-style: none;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 32px;
    width: 22%;
    text-align: left;
}


li {
    width: 100%;
    font-size: 1.5rem;
    line-height: 2em;
    font-family: 'Noto Serif', sans-serif;
    list-style: none;
}


.bg-img {
    background-image: url(./upload/3.webp);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    background-size: cover;
    margin: 0;
    height: 60vh;
    z-index: 1;
    padding: 5em 0em;
}

#kontakt p {
    color: white;
}

#kontakt h1 {
    color: #ff985f;
    border-bottom: solid 3px #ffe1cd;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer {
    padding: 5em 0em;
    background-color: #7b6248;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

.footer img {
    width: 25%;
}

.footer div:nth-child(odd) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer div:nth-child(2n) {
    background-color: #ffe1cd;
    padding: 5em 2px;
}

#popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.social-pop {
    background-color: var(--bg-color-1);
    color: var(--accent-color);
    margin: 10% auto;
    padding: 1em;
    border: 1px solid #888;
    width: 80%;
    animation: visible 1s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 960px) {

    .fancy-font {
        color: var(--main-color);
    }

    iframe {
        width: 125%;
        height: 125%;
    }

    .text1>div>h1 {
        font-size: 3rem;
    }

    .img {
        width: 100%;
        margin: 0.5rem 0;
    }

    .text1 {
        position: static;
        width: 100%;
        top: 0;
        right: 0;
        padding: 10em 0em 15em 0em;
    }

    .map-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .with-topnav a,
    .logo-full {
        display: none;
    }

    .mobile-menu-toggle,
    .logo-mobile,
    .with-topnav {
        display: block;
    }

    .with-topnav.responsive {
        position: sticky;
        background-image: url(/uploads/Main\ screen.png);
        background-position: -986px 0px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .with-topnav.responsive a {
        float: left;
        color: var(--second-color);
        display: block;
        text-align: center;
        padding: 1em 0em;
        width: 100%;
        background-color: var(--backgroundcolor);
    }

    /*.with-topnav.responsive a:nth-child(odd) {
        padding: 0px;
        background-color: var(--main-color);
        height: 2px;
    }*/

    .col-2,
    .opinie-wrapper,
    .map-container,
    .footer {
        flex-direction: column;
        align-items: center;
    }

    #o-nas p,
    #nowosci p,
    #produkty p,
    #wspolpraca p,
    #kontakt p,
    #nowosci li {
        font-size: 1rem;
        text-align: left;
    }

    #nowosci li,
    #produkty li {
        line-height: 3rem;
        width: 80%;
        text-align: left;
        padding-left: 2em;
    }

    .footer div:nth-child(2n) {
        background-color: #ffe1cd;
        padding: 2px 5em;
        margin: 1rem 0rem;
    }

    .col-2:nth-child(odd),
    #onas {
        flex-direction: column;
    }

    .opinie-wrapper,
    #o-nas p,
    #nowosci p,
    #wspolpraca p {
        width: 90%;
    }

    #backgroundHero {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.40), rgba(255, 255, 255, 0.4)), url(./upload/11.webp);
    }
}